<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

	<title>formConta</title>
</head>

	 <div class="container"> 
		<h3>Login</h3>

	<form action="/logar" method="post">

		<div class="col s12">
			<label>Login:</label>
			<input type="text" name="login">
		</div>
		<div class="col s12">
			<label>Senha:</label>
			<input type="password" name="senha">
		</div>
		<div>
			<button class="waves-effect waves-teal btn-flat" type="submit"><a href="/conta/form">ENTRAR</a></button>
		</div>
		<div>
			<h3>Ainda Não Possui uma Conta?</h3>
			<button class="waves-effect waves-teal btn-flat" type="button"><a href="/usuario/registro">sign in</a></button>
		</div>
	
	</div>
	

</body>

</html>